data/
model/
reports/
dist/
debug/
.pytest_cache/
.DS_Store
docs/*
!docs/_build/html/
**/__pycache__
**/.venv
**/.conda
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml